<a href="https://colab.research.google.com/github/kimkukhwa/M-M_Color_Distribution_Statistical_Analysis/blob/main/Web_scraping_M%26M_Color_Distribution_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1. Web-scraping
### This web scraping project is to extract the 48 Individual M&M Color Distribution Data datasets from Josh Madison's websites (Thank you very much for the M&M experiment!). Data source: https://joshmadison.com/2007/12/02/mms-color-distribution-analysis-individual-pack-data/

*   Two methods, BeautifulSoup & Pandas read_htlm, are used
*   Interested datasets are in table format

In [ ]:
# Setup
import pandas as pd
import requests
import json
from bs4 import BeautifulSoup

pd.options.mode.chained_assignment = None 
URL = "https://joshmadison.com/2007/12/02/mms-color-distribution-analysis-individual-pack-data"

## Method 1 BeautifulSoup

In [ ]:
#BeautifulSoup test

res = requests.get(URL)
soup = BeautifulSoup(res.text, 'html.parser')
tables = soup.find_all('table')
table = tables[1]

# Print the html table - but it is not meaningful yet
'print(table)

In [ ]:
# Print the first table - but it is still not pretty. It requires some clearning.
df = pd.read_html(str(table), header=0,flavor='bs4')[0]
print(df.head(15).to_string())

                                                         Pack #253 M&M's                                                            Unnamed: 1                                                                  Blue                                                                 Brown                                                                 Green                                                                Orange                                                                   Red  Yellow
0                                                        Pack #253 M&M's                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN     NaN
1                                                        Pack #253 M&M's                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN     NaN
2                                                        Pack #253 M&M's                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN     NaN
3                                                        Pack #253 M&M's                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN     NaN
4                                                        Pack #253 M&M's                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN     NaN
5                                                        Pack #253 M&M's                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN                                                                   NaN     NaN
6                                                        Percent of Pack                                                                15.09%                                                                 5.66%                                                                24.53%                                                                24.53%                                                                18.87%                                                                11.32%     NaN
7                                                           Qty observed                                                                     8                                                                     3                                                                    13                                                                    13                                                                    10                                                                     6     NaN
8                                                           Qty expected                                                                    13                                                                     7                                                                     8                                                                    11                                                                     7                                                                     7     NaN
9                                                     Diff from expected                                                                    -5                                                                    -4                                                                    +5                                                                    +2                                                                    +3                                                                    -1     NaN
10                                                     Diff from average                                                                    -2                                                                    -5                                                                    +3                                                                    +2                                                                    +2                                                                    -2     NaN
11  This pack had 2 M&M(s) less than the rounded average of 55 per pack.  This pack had 2 M&M(s) less than the rounded average of 55 per pack.  This pack had 2 M&M(s) less than the rounded average of 55 per pack.  This pack had 2 M&M(s) less than the rounded average of 55 per pack.  This pack had 2 M&M(s) less than the rounded average of 55 per pack.  This pack had 2 M&M(s) less than the rounded average of 55 per pack.  This pack had 2 M&M(s) less than the rounded average of 55 per pack.     NaN

## Method 2: pd.read_html

In [ ]:
table_MN = pd.read_html(URL)

In [ ]:
print(f'Total tables: {len(table_MN)}')

Total tables: 48

In [ ]:
type(table_MN)

list

In [ ]:
# Print the first table - It definately requires some clearning...
df = table_MN[0]
df.head(10)

,Pack #156 M&M's,Unnamed: 1_level_0,Blue,Brown,Green,Orange,Red,Yellow
,Pack #156 M&M's,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,Unnamed: 7_level_1
,Pack #156 M&M's,Unnamed: 1_level_2,Unnamed: 2_level_2,Unnamed: 3_level_2,Unnamed: 4_level_2,Unnamed: 5_level_2,Unnamed: 6_level_2,Unnamed: 7_level_2
,Pack #156 M&M's,Unnamed: 1_level_3,Unnamed: 2_level_3,Unnamed: 3_level_3,Unnamed: 4_level_3,Unnamed: 5_level_3,Unnamed: 6_level_3,Unnamed: 7_level_3
,Pack #156 M&M's,Unnamed: 1_level_4,Unnamed: 2_level_4,Unnamed: 3_level_4,Unnamed: 4_level_4,Unnamed: 5_level_4,Unnamed: 6_level_4,Unnamed: 7_level_4
,Pack #156 M&M's,Unnamed: 1_level_5,Unnamed: 2_level_5,Unnamed: 3_level_5,Unnamed: 4_level_5,Unnamed: 5_level_5,Unnamed: 6_level_5,Unnamed: 7_level_5
,Pack #156 M&M's,Unnamed: 1_level_6,Unnamed: 2_level_6,Unnamed: 3_level_6,Unnamed: 4_level_6,Unnamed: 5_level_6,Unnamed: 6_level_6,Unnamed: 7_level_6
0,Percent of Pack,23.21%,12.50%,21.43%,16.07%,12.50%,14.29%,NaN
1,Qty observed,13,7,12,9,7,8,NaN
2,Qty expected,13,7,9,11,7,8,NaN
3,Diff from expected,0,0,+3,-2,0,0,NaN
4,Diff from average,+3,-1,+2,-2,-1,0,NaN
5,This pack had 1 M&M(s) more than the rounded a...,This pack had 1 M&M(s) more than the rounded a...,This pack had 1 M&M(s) more than the rounded a...,This pack had 1 M&M(s) more than the rounded a...,This pack had 1 M&M(s) more than the rounded a...,This pack had 1 M&M(s) more than the rounded a...,This pack had 1 M&M(s) more than the rounded a...,NaN

## Clean the Tables

In [ ]:
# Set column names and remove rows & colums
for _,table in enumerate(table_MN):
  table.columns=['Color','Blue',	'Brown',	'Green',	'Orange',	'Red',	'Yellow','todelete']
  table.drop('todelete',
          axis=1,
          inplace = True
          )
  table.drop([5],
             axis=0,
             inplace=True
             )

In [ ]:
# Transpose tables for better view
t_tables=[]
for _,table in enumerate(table_MN):
  table=table.T
  table.reset_index(inplace=True)
  table.columns=table.iloc[0]
  table=table[1:]
  t_tables.append(table)

In [ ]:
t_tables[0]

,Color,Percent of Pack,Qty observed,Qty expected,Diff from expected,Diff from average
1,Blue,23.21%,13,13,0,+3
2,Brown,12.50%,7,7,0,-1
3,Green,21.43%,12,9,+3,+2
4,Orange,16.07%,9,11,-2,-2
5,Red,12.50%,7,7,0,-1
6,Yellow,14.29%,8,8,0,0

In [ ]:
6*48

288

## Concat all Tables to One Data Frame

In [ ]:
frames = [ table for table in t_tables ]
package_n= [i for i in range(1,49)]
mnm_df = pd.concat(frames,keys=package_n)

In [ ]:
mnm_df

0      Color Percent of Pack Qty observed Qty expected Diff from expected  \
1  1    Blue          23.21%           13           13                  0
   2   Brown          12.50%            7            7                  0
   3   Green          21.43%           12            9                 +3
   4  Orange          16.07%            9           11                 -2
   5     Red          12.50%            7            7                  0
...      ...             ...          ...          ...                ...
48 2   Brown          14.55%            8            7                 +1
   3   Green          18.18%           10            9                 +1
   4  Orange          16.36%            9           11                 -2
   5     Red          14.55%            8            7                 +1
   6  Yellow          10.91%            6            8                 -2

0    Diff from average
1  1                +3
   2                -1
   3                +2
   4                -2
   5                -1
...                ...
48 2                 0
   3                 0
   4                -2
   5                 0
   6                -2

[288 rows x 6 columns]

## More Cleaning!

In [ ]:
mnm_df.reset_index(level=[0,1],inplace=True)
mnm_df

,level_0,level_1,Color,Percent of Pack,Qty observed,Qty expected,Diff from expected,Diff from average
0,1,1,Blue,23.21%,13,13,0,+3
1,1,2,Brown,12.50%,7,7,0,-1
2,1,3,Green,21.43%,12,9,+3,+2
3,1,4,Orange,16.07%,9,11,-2,-2
4,1,5,Red,12.50%,7,7,0,-1
...,...,...,...,...,...,...,...,...
283,48,2,Brown,14.55%,8,7,+1,0
284,48,3,Green,18.18%,10,9,+1,0
285,48,4,Orange,16.36%,9,11,-2,-2
286,48,5,Red,14.55%,8,7,+1,0
287,48,6,Yellow,10.91%,6,8,-2,-2

In [ ]:
mnm_df.rename(columns={'level_0': 'package_n'}, inplace=True)
mnm_df.drop('level_1',axis=1,inplace=True)

In [ ]:
mnm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   package_n           288 non-null    int64
 1   Color               288 non-null    object
 2   Percent of Pack     288 non-null    object
 3   Qty observed        288 non-null    object
 4   Qty expected        288 non-null    object
 5   Diff from expected  288 non-null    object
 6   Diff from average   288 non-null    object
dtypes: int64(1), object(6)
memory usage: 15.9+ KB

In [ ]:
mnm_df['Qty observed'] = mnm_df['Qty observed'].astype(int)
mnm_df['Qty expected'] = mnm_df['Qty expected'].astype(int)

In [ ]:
mnm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   package_n           288 non-null    int64
 1   Color               288 non-null    object
 2   Percent of Pack     288 non-null    object
 3   Qty observed        288 non-null    int64
 4   Qty expected        288 non-null    int64
 5   Diff from expected  288 non-null    object
 6   Diff from average   288 non-null    object
dtypes: int64(3), object(4)
memory usage: 15.9+ KB

In [ ]:
#Final results from the website!
mnm_df

,package_n,Color,Percent of Pack,Qty observed,Qty expected,Diff from expected,Diff from average
0,1,Blue,23.21%,13,13,0,+3
1,1,Brown,12.50%,7,7,0,-1
2,1,Green,21.43%,12,9,+3,+2
3,1,Orange,16.07%,9,11,-2,-2
4,1,Red,12.50%,7,7,0,-1
...,...,...,...,...,...,...,...
283,48,Brown,14.55%,8,7,+1,0
284,48,Green,18.18%,10,9,+1,0
285,48,Orange,16.36%,9,11,-2,-2
286,48,Red,14.55%,8,7,+1,0
287,48,Yellow,10.91%,6,8,-2,-2

## Web-scraping part is done! Next: I will create my own table for the statistical hypothesis testing